.boldStyle {
    font-weight:bold;
}

.italicStyle {
    font-style: italic;
}

.underlineStyle {
    text-decoration: underline;
}

.lockCellStyleViewer {
    background-color : #d1d1d1;
}

.lockCellStyleOwner {
    border-color: blue;
}